* {
  padding: 0;
  margin: 0;
  text-align: center;
}
main {
  padding: 2rem;
  justify-items: center;
}
section {
  background-color: rgba(243, 229, 229, 0.288);
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2rem;
  min-width: 10rem;
  min-height: 25rem;
}

button {
  padding: 10px;
  min-width: 10rem;
  margin: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.205);
  border-radius: 5px;
  background-color: white;
}

button:hover {
  background-color: aqua;
  color: red;
}
button:active {
  background-color: red;
  color: white;
}
