*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
main{
    /* justify-content: center; */
    padding: 2rem;
    /* border: 1px solid black; */
    display: flex;
    gap: 2rem;
}
section{
    border: 1px solid black;
  padding: 2rem;
  text-align: justify;
}
section>h1{
    text-align: center;
}